<html>
<head>
	<title>Eat a Burger</title>
	<link rel="stylesheet" href="./assets/css/index.css">
    <script src="./assets/js/index.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="header">
Eat Burgers
</div>
<div id="search-bar">
<span id="text-title">New Burger Name:</span> <input type="text" maxlength="24" id="burger-name"> <button onClick="createBurger(document.getElementById('burger-name').value)">Create Burger</button>
</div>
   {{{body}}}
</body>
</html>