@import url('https://fonts.googleapis.com/css?family=Nunito:900');

/*  blue: rgb(70, 107, 141); 
	tan: rgb(218, 170, 100);
	red: rgb(199, 91, 118);
	coral: rgb(218, 138, 100);

	button-blue: rgb(43, 81, 117);
*/

body
{
	font-family: 'Nunito', sans-serif;
	margin: 0;
	color: white;
	font-size: 40px;
}

@media screen and (max-width: 1547px)
{
	body
	{
		font-size: 30px;
	}

	.title
	{
		padding-top: 7px;
		height: 47px !important;
	}

	ul 
	{
		line-height: 200% !important;
	}
}

@media screen and (max-width: 1239px)
{
	body
	{
		font-size: 20px;
	}

	.title
	{
		padding-top: 14px;
		height: 40px !important;
	}

	ul 
	{
		line-height: 300% !important;
	}
}

@media screen and (max-width: 956px)
{
	#text-title
	{
		display: none;
	}
}

@media screen and (max-width: 937px)
{
	#created-burgers-list
	{
		float: none !important;
		position: absolute;
		left: 50%;
		transform: translateX(-50%) !important;
		width: 90% !important;
		height: 481px !important;
	}

	#eaten-burgers-list
	{
		float: none !important;
		position: absolute;
		left: 50%;
		transform: translateX(-50%) translateY(556px) !important;
		width: 90% !important;
		height: 481px !important;
	}
}

ul 
{
	list-style: none;
	line-height: 150%;
	padding-top: 10px;
	padding-left: 0px;
}

ul button
{
	float: right;
	margin-right: 15px;
}

li
{
	cursor: default;
	overflow: hidden;
	padding-left: 35px;
	white-space: nowrap;
	height: 60px;
	width: calc(100% - 35px);
}

li #b_name
{
	float: left;
	display: block;
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
}

button
{
	color: white;
	background-color: rgb(67, 146, 118);
	border-radius: 10px;
	width: max-content;
	padding: 10px;
	font-family: "Nunito", sans-serif;
	font-size: 24px;
	border: none;
	cursor: pointer;
	transition: background-color ease-out 250ms;
}

#header
{
	color: white;
	background: rgb(218, 170, 100);
	width: 100%;
	height: 250px;
	text-align: center;
	line-height: 250px;
	font-size: 64px;
}

#search-bar
{
	color: white;
	background: rgb(70, 107, 141);
	width: 100%;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 40px;
}

#search-bar input[type="text"]
{
	border-radius: 10px;
	background-color: rgb(161, 183, 205);
	font-size: 40px;
	width: 40%;
	border: none;
	font-family: "Nunito", sans-serif;
	outline: none;
	text-align: center;
}

#search-bar button
{
	background-color: rgb(43, 81, 117);
	transform: translateY(-5px);
}

#search-bar button:hover
{
	background-color: rgb(48, 91, 130);
}

.title
{
	color: white; 
	display: block; 
	text-align: center; 
	width: 100%;
	height: 54px;
	white-space: nowrap;
}

#created-burgers-list
{
	margin-top: 10px;
	float: left;
	height: calc(100vh - 439px);
	width: 40%;
	background-color: rgb(129, 22, 49);
	transform: translateX(20%);
}

#created-burgers-list ul
{
	display: block;
	margin: 0 auto;
	background-color: rgb(199, 91, 118);
	height: 100%;
	overflow-y: auto;
}

#created-burgers-list button
{
	transform: translateY(3px);
}

#created-burgers-list button:hover
{
	background-color: rgb(74, 161, 130);
}

#created-burgers-list li
{
	transition: background-color ease-out 250ms;
}

#created-burgers-list li:hover
{
	background-color: rgb(200, 76, 107);
}

#eaten-burgers-list
{
	margin-top: 10px;
	float: left;
	height: calc(100vh - 439px);
	width: 40%;
	background-color: rgb(142, 62, 24);
	transform: translateX(40%);
}

#eaten-burgers-list ul
{
	display: block;
	margin: 0 auto;
	background-color: rgb(218, 138, 100);
	height: 100%;
	overflow-y: auto;
}

#eaten-burgers-list button
{
	background-color: rgb(164, 53, 81);
	transform: translateY(3px);
}

#eaten-burgers-list button:hover
{
	background-color: rgb(189, 61, 93);
}

#eaten-burgers-list li
{
	transition: background-color ease-out 250ms;
}

#eaten-burgers-list li:hover
{
	background-color: rgb(188, 112, 78);
}

#eaten-burgers-list li #b_name
{
	float: left;
	display: block;
	width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
}